<div id="mailform">
	<h3>確認画面</h3>
	<button id="close" type="button" class="btn-close float-end" aria-label="Close"></button>
	<div id="formMessage" class="alert alert-warning mt-3" role="alert">
		お問合せ内容は以下になります。<br>
		この内容でよろしければ、送信ボタンをクリックしてフォームを送信してください。
	</div>
	<div class="form-group row">
		<label for="name" class="col-4 col-form-label text-right">氏名</label>
		<div id="name" class="col"></div>
	</div>
	<div class="form-group row">
		<label for="mailaddress" class="col-4 col-form-label text-right">メールアドレス</label>
		<div id="mailaddress" class="col"></div>
	</div>
	<div class="form-group row mb-2">
		<label for="content" class="col-4 col-form-label text-right">問合せ内容</label>
		<div id="content" class="col"></div>
	</div>
	<div class="form-group row">
		<div class="col-4"></div>
		<div class="col">
			<button id="confirmBack" class="btn btn-success">戻る</button>
			<button id="send" class="btn btn-success">送信</button>
		</div>
	</div>
</div>